/app/config/parameters.yml
/vendor/
.idea
composer.phar
components
db/*.db
log
tmp
config.php
node_modules
www/local
testConfig.php
www/docs/images
docs/announcements
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
web/local
