<html>
<head>
    {% block head %}
        <title>{% block title %}TakeATicket{% endblock %}</title>
    {% block scriptLinks %}
        <script src="/components/jquery/jquery.min.js"></script>
        <script src="/components/handlebars/handlebars.js"></script>
        <script src="js/ticket.js"></script>
    {% endblock %}

    {% block styleLinks %}
    <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/ticket.css"/>
    {% endblock %}
    {% block pageJs %}
        <script>
            var displayOptions = {{ displayOptions|json_encode|raw }};
            $(function () {
                ticketer.displayOptions = displayOptions;
                ticketer.go();
            });
        </script>
    {% endblock %}
    {% endblock %}
</head>
<body>
<div class="container {% block containerClass %}{% endblock %}">
    <div class="page-header well">
        <div class="headerControls pull-right">
            <a href="/"><span class="fa fa-ticket" title="Upcoming"></span> </a>
            <a href="/songSearch"><span class="fa fa-search" title="Search"></span> </a>
            <a href="/upcomingRss"><span class="fa fa-rss" title="Feed"></span> </a>
            <a href="/manage"><span class="fa fa-wrench" title="Manage Queue"></span> </a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="/user/logout"><span class="fa fa-power-off" title="Log Out"></span></a>
            {% else %}
                <a href="/user/login"><span class="fa fa-key" title="Log In"></span></a>
            {% endif %}
        </div>
        <p class="text-center">{% block headerText %}Next Bands{% endblock %}</p>
    </div>
    {% block appTarget %}
        <div id="target"></div>
    {% endblock %}
</div>
{% block footer %}
    <div class="end">
        <div class="gflink page-footer"><p class="text-center">gofundme.com/rcl2015</p></div>
    </div>
{% endblock %}
</body>
</html>