<html>
<head>
    <title>Ticket Queue Management</title>
    <script src="/components/jquery/jquery.min.js"></script>
    <script src="/components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/components/handlebars/handlebars.js"></script>
    <script src="/js/ticket.js"></script>
    <script>
        var tickets = {{ tickets|json_encode|raw }};
        $(function () {
            ticketer.manage(tickets)
        });
    </script>
    <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/ticket.css"/>
</head>
<body>

<div class="container manage">
    <div class="page-header well"><p class="text-center">Manage Bands</p></div>
    <div id="target" class="sortContainer">

    </div>
    <div class="addTicket well">
        <div class="pull-right">
            <button class="addTicketButton btn btn-success">Add</button>
        </div>

        <div>
            <div class="addTicketSong">
                <div class="selectedFieldOuter"><span class="fa fa-music  fa-2x"></span> <input type="hidden" class="selectedSongId"/> <span class="selectedSong"></span></div>
                <div class="input-group input-group">
                    <span class="input-group-addon" id="search-addon1"><span class="fa fa-search"></span> </span>
                    <input class="addSongTitle form-control" placeholder="Search song or use code"/>
                </div>

                <div class="songCompleteOuter">
                    <div class="songComplete"></div>
                </div>
            </div>

            <div class="addTicketBand">
                <div class="selectedFieldOuter"><span class="fa fa-group  fa-2x"></span></div>
                <div class="input-group input-group">
                    <span class="input-group-addon" id="group-addon1"><span class="fa fa-search"></span> </span>
                    <input class="addTicketTitle form-control" placeholder="Performing band name"/>
                </div>
            </div>
        </div>


    </div>
</div>

</body>
</html>