<html>
<head>
    <title>Ticket Queue Management</title>
    <script src="/components/jquery/jquery.min.js"></script>
    <script src="/components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/components/handlebars/handlebars.js"></script>
    <script src="/js/ticket.js"></script>
    <script>
        var tickets = {{ tickets|json_encode|raw }};
        $(function () {
            ticketer.manage(tickets)
        });
    </script>
    <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/ticket.css"/>
</head>
<body>

<div class="container manage">
    <div class="page-header well"><p class="text-center">Manage Bands</p></div>
    <div id="target" class="sortContainer">

    </div>
    <div class="addTicketOuter">

    </div>
</div>

</body>
</html>