{% extends "base.html.twig" %}
{% block title %}RCL | Announcements{% endblock %}
{% block headerText %}Welcome to Rock Club London{% endblock %}
{% block containerClass %}helpPage{% endblock %}

    {% block appTarget %}
        <div id="target">
            <div class="well announcement {{ messageClass }}">{{ announcement|markdown }}</div>
        </div>
    {% endblock %}

    {% block pageJs %}
        <script>
            var displayOptions = {{ displayOptions|json_encode|raw }};
            $(function () {
                ticketer.displayOptions = displayOptions;

                {% if not is_granted('ROLE_ADMIN') %}
                ticketer.checkRemoteRedirect();
                {% endif %}
            });
        </script>
    {% endblock %}