div.page-header {
  font-size: 80px;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0;
}

div#target {
  margin-top: 40px;
}

div.ticket {
  p.band {
    font-size: 180px;
    font-weight: bolder;
  }

  p.song {
    font-size: 80px;
    font-weight: bolder;
  }
}

div.upcoming {
  margin-bottom: 100px;

  div.well {
    padding: 0;
  }

  div.ticket {
    min-height: 200px;

    .auto-font {
      text-wrap: none;
      white-space: nowrap;
    }
  }
}

div.manage {
  div.ticket {
    p {
      font-size: 50px;
      font-weight: bolder;
    }

    &.well {
      padding-top: 10px;
      padding-bottom: 20px;
    }

    .addSongTitle {
      width: 30em;
    }

    .addTicketTitle {
      width: 30em;
    }

    &.used {
      color: #777;
      font-style: italic;
      background-color: #fefefe !important;
    }

    &.used button.performButton {
      display: none;
    }
  }

  div.page-header {
    font-size: 40px;
    font-weight: bolder;
  }
}

div.end {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;

  div.gflink {
    font-size: 50px;
    width: 100%;
  }
}


