div.page-header {
  padding: 0;
  font-size: 80px;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  .headerControls {
    position: absolute;
    right: 0px;
    font-size: 24px;
    margin-right: 20px;
    &, a {
      color: #e8e8e8;
      padding: 4px 6px;
    }
  }
  &:hover {
    .headerControls {
      &, a {
        color: #999;
      }
    }
  }
}

div#target {
  margin-top: 40px;
}

div.ticket {
  p.band {
    font-size: 180px;
    font-weight: bolder;
  }

  p.song {
    font-size: 80px;
    font-weight: bolder;
  }
}

div.upcoming {
  margin-bottom: 100px;

  div.well {
    //padding: 0;

    &.ticket {
      min-height: 200px;

      &.withSong {
        padding-top: 10px;
      }

      &.noSong {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      .auto-font {
        text-wrap: none;
        white-space: nowrap;
      }
    }
  }
}

div.manage {
  div.ticket {

    .ticketId {
      float: left;
      height: 2em;
      //font-weight: bold;
      font-size: 2em;
      width: 2em;
    }

    .pendingSong {
      .fa {
        width: 16px;
      }
    }

    //p {
    //  font-size: 50px;
    //  font-weight: bolder;
    //}

    &.well {
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: 62px;
    }

    &.used {
      color: #777;
      font-style: italic;
      background-color: #fefefe !important;
    }

    &.used button.performButton {
      display: none;
    }
  }

  div.addTicket {
    min-height: 440px;

    h3 {
      margin-top: 0;
      margin-left: 12px;
    }

    .addTicketSong,
    .addTicketBand,
    {
      float: left;
      padding: 10px;
      width: 500px;
      .selectedFieldOuter {
        padding-left: 6px;
        min-height: 50px;
      }
    }

    .addTicketBand {
      .performers {
        .btn {
          margin-top: 8px;
          margin-right: 8px;
        }
      }
    }

    .addSongTitle {
      width: 30em;
    }

    .addTicketTitle {
      width: 30em;
    }

    .input-group-addon .fa {
      width: 16px;
    }

  }

  div.page-header {
    font-size: 40px;
    font-weight: bolder;
  }
}

div.manage,
div.songSearch {
  .songCompleteOuter {
    padding-left: 41px;
    .songComplete {
      position: absolute;
      //height: 200px;
      width: 30em;
      background-color: white;
      border: solid lightgrey 1px;
      display: none;
    }
  }

  .acSong {
    // single song
    padding: 5px;
    cursor: pointer;
    border-bottom: solid lightgrey 1px;
    &:last-of-type {
      border-bottom: none;
    }
    &.selected {
      background-color: lightblue;
    }
  }
}

div.songSearch {
  .searchContent {
    padding-top: 20px;
  }

  .searchTargetOuter {
    min-height: 180px;
    padding-top: 0;
  }
}

div.end {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;

  div.gflink {
    font-size: 50px;
    width: 100%;
  }
}


