.container {
  padding: 0;
}

.auto-font {
  text-wrap: none;
  white-space: nowrap;
}

div.page-header {
  padding: 0;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  background-color: #d0d0d0;
  .headerControls {
    position: absolute;
    right: 0;
    font-size: 24px;
    margin-right: 20px;
    &, a {
      color: #e8e8e8;
      padding: 4px 6px;
    }
  }
  &:hover {
    .headerControls {
      &, a {
        color: #999;
      }
    }
  }
}

div#target {
  margin-top: 20px;
}

div.upcoming {
  margin-bottom: 100px;

  div.well {
    //padding: 0;

    &.ticket {
      min-height: 180px;

      &.withSong {
        padding-top: 6px;
      }

      &.noSong {
        padding-top: 6px;
        padding-bottom: 6px;
        min-height: 100px;
      }

      p {
        margin-bottom: 5px;
      }

      p.band {
        font-size: 50px;
        font-weight: bolder;
      }

      p.song {
        font-size: 30px;
        font-weight: bolder;
      }

      .performers {
        // left/right measurements inside must be relative for auto-font to work
        font-size: 100px;
        text-align: center;
        font-weight: bolder;

        .instrumentTag {
          padding-left: 0.2em;
          padding-right: 0.2em;

          .instrumentTextIcon {
            height: 40px;
            padding: 0 10px;
            border-radius: 20px;
            display: inline-block;
            color: #fff;
            background-color: #999;
            font-size: 32px;
            line-height: 38px;
            vertical-align: 0.25em;
          }

          img.instrumentIcon {
            @iconSize: 40px;
            width: @iconSize;
            height: @iconSize;
            vertical-align: middle;
            margin-bottom: 14px;
          }
        }
      }

    }
  }
}

div.manage {
  div.ticket {

    .proximityIssue {
      color: red;
    }

    .ticketId {
      float: left;
      height: 2em;
      //font-weight: bold;
      font-size: 2em;
      width: 2em;
    }

    .pendingSong {
      .fa {
        width: 16px;
      }

      .performerDoneCount0 {
        font-weight: bolder;
        font-size: 1.3em;
      }

      .performerDoneCount1 {
        font-weight: bold;
      }

    }

    //p {
    //  font-size: 50px;
    //  font-weight: bolder;
    //}

    &.well {
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: 62px;
    }

    &.used {
      color: #777;
      font-style: italic;
      background-color: #fefefe !important;
    }

    &.used button.performButton {
      display: none;
    }
  }

  div.addTicketOuter {
    margin-bottom: 80px;
  }

  div.addTicket {
    min-height: 500px;

    h3 {
      margin-top: 0;
      margin-left: 12px;
    }

    .addTicketSong,
    .addTicketBandColumn,
    {
      float: left;
      padding: 10px;
      .ticketAspectSummary {
        padding-left: 6px;
        min-height: 50px;
      }
    }

    .addTicketSong {
      width: 400px;
    }

    .addTicketBandColumn {
      width: 600px;

      .addTicketTitle {
        width: 30em;
      }

      .instrument {
        cursor: pointer;
        float: left;
        width: 110px;
        min-height: 4em;
        border: solid 1px #ccc;
        border-bottom: none;
        margin-right: 6px;
        //padding: 4px 8px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        &.instrumentSelected {
          background-color: #e0e0e0;
          .instrumentName {
            background-color: #ccc;
          }
        }
        .instrumentName, .instrumentPerformer {
          padding: 4px 8px;
          margin-bottom: 4px;
        }
        .instrumentName {
          font-weight: bold;
          background-color: #ddd;
        }
        i {
          color: #888;
        }
        &.instrumentUnused {
          // hidden by default;
          display: none;
        }
      }

      .bandControls {
        //border: dashed grey 1px;
        padding-top: 14px;

        .bandTabsOuter {

          .performerSelect {
            clear: both;
            padding: 8px;
            background-color: #e0e0e0;
          }
          .newPerformer {
            width: 18em;
          }
        }

        .performers {

          .letterSpan {
            display: inline-block;
          }

          .initialLetter {
            margin: 8px 4px 0 0;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            background-color: #ccc;
            display: inline-block;
            padding: 4px 10px 4px 6px;
            vertical-align: middle;
            font-weight: bolder;
            color: #555;
          }

          .btn {
            margin-top: 8px;
            margin-right: 8px;
          }
        }
      }
    }

    .addSongTitle {
      width: 24em;
    }

    .input-group-addon .fa {
      width: 16px;
    }

  }

  div.page-header {
    font-size: 40px;
    font-weight: bolder;
  }
}

div.manage,
div.songSearch {
  .songCompleteOuter {
    padding-left: 41px;
    .songComplete {
      position: absolute;
      //height: 200px;
      width: 24em;
      background-color: white;
      border: solid lightgrey 1px;
      display: none;
    }
  }

  .acSong {
    // single song
    padding: 5px;
    cursor: pointer;
    border-bottom: solid lightgrey 1px;
    &:last-of-type {
      border-bottom: none;
    }
    &.selected {
      background-color: lightblue;
    }
    .queued {
      font-style: italic;
      color: #bbb;
    }
  }
}

div.songSearch {
  .searchContent {
    padding-top: 20px;
  }

  .searchTargetOuter {
    min-height: 180px;
    padding-top: 0;
  }
}

div.end {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;

  div.gflink {
    font-size: 40px;
    width: 100%;
    a {
      color: #333
    }
    a:hover {
      color: #777;
      text-decoration: none;
    }
  }

  .docslink {
    font-size: 24px;
    margin-right: 20px;
    &, a {
      color: #e8e8e8;
      padding: 4px 6px;
    }
  }
  &:hover {
    .docslink {
      &, a {
        color: #999;
      }
    }
  }
}


